# Your favourite PDF viewer
pdfviewer="open -a Skim"

# Some viewers do not have built-in file watch and are using HUP signal for page
# refresh.
hupsignal=false

# Directory to store auxilary files
tmpdir=".latexify"

# Config file location
config=""

# Latex processor command
producer="pdflatex --shell-escape -output-directory=./${tmpdir} --enable-write18 -halt-on-error -interaction=nonstopmode"
